.noscreen {
	display: none;
}
#txtNumProcessoPesquisaRapida::-moz-placeholder {
	font-style: italic;
}
#extraUltimoLinkClicado {
	background: #ff3;
	color: #444;
	border: dotted 1px #fca;
}
.extraGedproRotuloGreen {
	color: green;
}
.extraGedproRotuloBlue {
	color: blue;
}
.extraGedproRotuloGray {
	color: gray;
}
.extraGedproImg {
	cursor: inherit;
	vertical-align: middle;
}
.extraIconeAcao {
	display: none;
	vertical-align: middle;
	margin: auto 2px;
	width: 16px;
	height: 16px;
}
.extraAcoesMostrarIcones .extraIconeAcao {
	display: inherit;
}
.extraAcoesOpcoes {
	display: none;
	float: right;
	margin-left: 1ex;
	font-size: 0.9em;
	line-height: 1em;
}
#fldAcoes:hover .extraAcoesOpcoes {
	display: inline-block;
}
tr.extraLocalizador[data-processos] {
	cursor: pointer;
}
tr.extraLocalizador[data-processos='0'],
tr.extraLocalizador[data-processos='0'] u {
	cursor: default;
}
tr.extraLocalizador[data-processos] a,
tr.extraLocalizador[data-processos] u {
	text-decoration: none;
}
tr.extraLocalizador[data-processos='0'] td,
tr.extraLocalizador[data-processos='0'] td u {
	color: #999;
}
