/*
 * infra-global-esquema.css
 */

div.infraBarraTribunalE, div.infraBarraTribunalD {
    width: auto;
}
input, textarea, select {
    background-color: hsl($h, 100%, 98%); /* #fff */
}
input:focus, select:focus, textarea:focus {
    background-color: hsl($hC, 25%, 87%); /* #ddd */
}
input.infraCheckbox, input.infraCheckbox:focus,
input.infraRadio, input.infraRadio:focus {
    background-color: transparent; /* #fff */
}
fieldset.infraFieldset {
    padding: 0.35em 0.625em 0.75em;
    border-color: hsl($hC, 1%, 58%) /* #969594 */
}
div.infraAreaTelaD, div.infraBarraComandos, div.infraAreaDados, div.infraAviso {
    border-color: $background;
}

/*
 * infra-esquema-local.css
 */

a:visited {
    color: hsl($hC, 50%, 40%); /* #336699 */
}
tr.infraTrClara {
    background-color: hsl($h, 50%, 99%); /* #fff */
}
tr.infraTrEscura {
    background-color: hsl($h, 25%, 96%); /* #f6f6f6 */
}
table.infraTable {
    background-color: hsl($h, 25%, 80%); /* #ccc */
}
th.infraTh, th.infraTh div {
    background-color: hsl($hC, 25%, 87%); /* #ddd */
    background: -moz-linear-gradient(top, hsl($hC,50%,98%) 0%, hsl($hC,25%,87%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl($hC,50%,98%)), color-stop(100%,hsl($hC,25%,87%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* IE10+ */
    background: linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl($hC,50%,98%)', endColorstr='hsl($hC,25%,87%)',GradientType=0 ); /* IE6-9 */
}
tr.infraTrMarcada {
    background-color: hsl($hC, 67%, 69%); /* #79e5e5 */
}
tr.infraTrSelecionada {
    background-color: hsl($hC, 25%, 69%); /* #b0b0b0 */
}
input.infraButton, button.infraButton, a.infraButton,
input.infraButton:hover, button.infraButton:hover, a.infraButton:hover {
    background-color: hsl($hC,50%,93%); /* #eee */
    background: -moz-linear-gradient(top, hsl($hC,50%,98%) 0%, hsl($hC,25%,87%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl($hC,50%,98%)), color-stop(100%,hsl($hC,25%,87%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* IE10+ */
    background: linear-gradient(top, hsl($hC,50%,98%) 0%,hsl($hC,25%,87%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl($hC,50%,98%)', endColorstr='hsl($hC,25%,87%)',GradientType=0 ); /* IE6-9 */
}
input.infraButton, button.infraButton, a.infraButton {
    border-color: hsl($hC, 25%, 80%) hsl($hC, 50%, 40%) hsl($hC, 50%, 40%) hsl($hC, 25%, 80%); /* #ccc #666 #666 #ccc */
}
input.infraButton:hover, button.infraButton:hover, a.infraButton:hover,
input.infraButton:focus, button.infraButton:focus, a.infraButton:focus {
    border-color: hsl($hC, 50%, 40%) hsl($hC, 25%, 80%) hsl($hC, 25%, 80%) hsl($hC, 50%, 40%); /* #666 #ccc #ccc #666 */
}
div.infraMenu a {
    border-color: $background; /* #fff */
    background-color: hsl($h, 25%, 91%); /* #EFEFEF */
}
div.infraRotuloMenu {
    color: hsl($h, 50%, 21%); /* #363636 */
}
div.infraMenu ul ul{
    border-color: hsl($h,50%,93%); /* #dfdfdf */
}
div.infraMenu a:hover {
    background-color: hsl($hC, 25%, 71%); /* #B5B5B5 */
}

/*
 * infra-ajax.css
 */

div.infraAjaxAutoCompletar
div.infraAjaxAutoCompletar a,
div.infraAjaxAutoCompletar a:hover,
div.infraAjaxAutoCompletar li.selected {
    color: #000000;
}
div.infraAjaxAutoCompletar {
    border-color: hsl($h, 25%, 62%); /* #9F9F9F */
    background-color: hsl($h, 25%, 95%); /* #F3F3F3 */
}
div.infraAjaxAutoCompletar li.selected {
    background-color: Highlight; /* #7d95ae */
}
.infraAjaxMarcarSelecao {
    background-color: hsl($hC, 50%, 93%); /* #ffffdd */
    border-color: black;
}

/*
 * LOCAL
 */

body {
    background-color: $background;
}
select:focus option {
    background-color: hsl($h, 25%, 95%); /* #F3F3F3 */
}
div[class^=infraLegend], div[id^=divDes] {
    background-color: $background !important;
}
div.infraAjaxAutoCompletar {
    max-height: 30em;
    overflow-y: scroll;
}
div.infraAjaxAutoCompletar li a {
    display: block;
    margin-left: 3ex;
    text-indent: -3ex;
}
div.infraAjaxAutoCompletar li.selected a,
div.infraAjaxAutoCompletar li.selected b,
div.infraAjaxAutoCompletar li.selected i {
    color: HighlightText;
}
input, textarea, select {
    border: 2px solid;
    border-color: hsl($h, 12%, 60%) hsl($h, 50%, 99%) hsl($h, 50%, 99%) hsl($h, 12%, 60%);
}
input:focus, select:focus, textarea:focus {
    border-color: hsl($hC, 12%, 60%) hsl($hC, 50%, 99%) hsl($hC, 50%, 99%) hsl($hC, 12%, 60%);
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        -webkit-appearance: none;
        background-image: url('../imagens/dropdown.png');
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 17px !important;
    }
    select:hover, select:focus {
        background-image: url('../imagens/dropdown_hover.png');
    }
}
tr.infraTrMarcada td {
    background-color: hsl($hC, 67%, 69%);
}
tr.infraTrSelecionada td {
    background-color: hsl($hC, 25%, 69%);
}
a.infraButton {
    display: inline-block;
    margin: 3px 1px;
    white-space: nowrap;
    padding: 0 6px;
    border-style: solid;
    border-width: .1em;
    text-decoration: none;
    color: #222;
}
