.extraLembrete {
    -moz-border-radius: 0.5ex;
    border-radius: 0.5ex;
    border: 1px solid hsl(60, 100%, 40%);
    background: -moz-linear-gradient(
            hsl(60, 100%, 80%) 0%,
            hsl(60, 96%, 90%) 100%
        );
    color: #333;
    font-weight: bold;
}
.extraLembrete[data-cor='verde'] {
    border: 1px solid hsl(120, 100%, 40%);
    background: -moz-linear-gradient(
            hsl(120, 100%, 80%) 0%,
            hsl(120, 96%, 90%) 100%
        );
}
.extraLembrete[data-cor='vermelho'] {
    border: 1px solid hsl(0, 100%, 40%);
    background: -moz-linear-gradient(
            hsl(0, 100%, 80%) 0%,
            hsl(0, 96%, 90%) 100%
        );
}
.extraLembreteVoce {
    border-color: hsl(60, 100%, 30%);
    background: -moz-linear-gradient(
            hsl(60, 100%, 70%) 0%,
            hsl(60, 96%, 80%) 100%
        );
}
.extraLembreteVoce[data-cor='verde'] {
    border: 1px solid hsl(120, 100%, 30%);
    background: -moz-linear-gradient(
            hsl(120, 100%, 70%) 0%,
            hsl(120, 96%, 80%) 100%
        );
}
.extraLembreteVoce[data-cor='vermelho'] {
    border: 1px solid hsl(0, 100%, 30%);
    background: -moz-linear-gradient(
            hsl(0, 100%, 70%) 0%,
            hsl(0, 96%, 80%) 100%
        );
}
.extraLembreteTodos {
    border-color: hsl(60, 100%, 35%);
    background: -moz-linear-gradient(
            hsl(60, 100%, 75%) 0%,
            hsl(60, 96%, 85%) 100%
        );
}
.extraLembreteTodos[data-cor='verde'] {
    border: 1px solid hsl(120, 100%, 35%);
    background: -moz-linear-gradient(
            hsl(120, 100%, 75%) 0%,
            hsl(120, 96%, 85%) 100%
        );
}
.extraLembreteTodos[data-cor='vermelho'] {
    border: 1px solid hsl(0, 100%, 35%);
    background: -moz-linear-gradient(
            hsl(0, 100%, 75%) 0%,
            hsl(0, 96%, 85%) 100%
        );
}
.extraLembretePara, .extraLembreteData {
    color: hsl(0, 0%, 0%);
}
a.extraLinkAcao {
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 1px;
    font-size: 1.2em;
}
a.extraLinkAcao {
    background: -moz-linear-gradient(
            hsl(0, 0%, 95%) 0%,
            hsl(0, 0%, 80%) 100%
        ) transparent;
    border-color: hsl(0, 0%, 90%);
}
a.extraLinkAcao:hover {
    background: -moz-linear-gradient(
            hsl(0, 0%, 100%) 0%,
            hsl(0, 0%, 85%) 100%
        ) transparent;
}
