#divInfraAreaGlobal, #divInfraAreaTela, #divInfraAreaTelaD {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: auto;
    height: auto;
}
#divInfraBarraTribunal, #divInfraBarraSistemaLocalizacao, #divInfraAreaTelaE, div.infraBarraComandos {
    display: none;
}
div.infraAreaDados > #divPainel {
    display: block;
}
.extraDocumentoObservacao,
.extraDocumentoMemo {
    display: none;
}
.extraTabelaMostrarAnotacoes .extraDocumentoObservacao,
.extraTabelaMostrarAnotacoes .extraDocumentoMemo {
    display: block;
    margin-bottom: 0.5em;
    font-size: 11px;
    white-space: normal;
    max-width: 50ex;
}
.extraTabelaMostrarAnotacoes .extraDocumentoObservacao {
    margin-left: 34px;
}

